.header
    span.loggo
        a(href="/") mamemo
    div.user_wrap
        if(!user)
            a(href="/login")
                button LOGIN
            a(href="/join")
                button JOIN
        if(user)
            a(href="/logout")
                button LOGOUT
            span=user.name
            img(src=user.picture, alt="!")
    
