.header
    span.loggo
        a(href="/") Mamemo
    div.user_wrap
        if(!user)
            a(href="/login") LOGIN
            a(href="/join") JOIN
        if(user)
            button(href="/logout") LOGOUT
            span=user.name
            img(src=user.picture, alt="!")
    
