.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    .loggo{
        a{
            font-size: 50px;
            text-decoration: none;
            color: brown;
        }
    }
    .user_wrap{
        display: flex;
        & > * {
            margin: 5px;
        }
        align-items: center;
        padding: 5px;
        font-size: 20px;
        button{
            color: rgba(30, 22, 54, 0.6);
	        box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
        }
        button:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 10px;
        }
    }
}