.memowrap{
    background-color: #F9F186;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    float:left;
}

input{
    width: 200px;
    
    word-break: break-word;
    outline: none;
    border-width:0px;
    border:none;
    .memowrap{
        position: absolute;
        text-align: start;
    }
}
.addBtn{
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: black;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 200px;
    font-size: 20px;
}
.memo_container{
    position: relative;
}

.delbtn{
    position: relative;
    left: 180px;
    top:120px;
    color: red;
    border-width: 2px;
    background-color: transparent;
}