extends layouts/main

block content
    form(action="/memo",method="post")
        input(type="text",name="memo")
    if(memos)
        div.memotable
            each memo in memos
                div.memowrap
                    span=memo.text
                    br
                    span=memo.createdAt
                    br
                    span=memo.creator
        
    