extends layouts/main

block content
    form(action="/memo",method="post")
        input(type="text",name="memo")
    if(memos)
        each memo in memos
            span=memo.text
            br
            span=memo.createdAt
            br
            span=memo.creator
        
    