extends layouts/main

block content
    form(action="/memo",method="post")
        div.memo_container
            input.addBtn(type="submit",value="+")
            textarea(name="memo", cols="30", rows="10",style="resize: none;").memoinput
    if(memos)
        each memo,idx in memos
            div.memowrap
                span=memo.text
                div.delbtn_wrap
                    a(href= `/${memo._id}/delete`)
                        button.delbtn
                            i.fas.fa-trash-alt
                .date_box
                    span=dates[idx]
        
    